<% if @comment.recipe %>
<h1>New Comment for <%= @comment.recipe.name %>!</h1>
<% else %>
<h1>New Comment!</h1>
<% end %>

<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
    <ul>
      <% @comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for([@comment.recipe, @comment]) do |f|%>
<% if !@comment.recipe %>
  <%= f.label :recipe %>
  <%= f.collection_select :recipe_id, Recipe.all, :id, :name %>
<% else %>
    <%= f.hidden_field :recipe_id %>
<% end %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>